aside {
    background-color: #f6ecbf;
    display: inline-block;
    vertical-align:top;
    border: solid 4px rgb(172, 145, 167);
    border-radius: 10px;
    margin: 0px;
    text-align: center;
}

aside>img {
    width: 80%;
    margin: 20px;
}
aside .bordeImagen{
    border: 3px solid white;
    border-radius: 20px;
}