footer{
    background-color: #caadde;
    width: 97.5%;
    height: auto;
    padding: 20px;
    text-align: center;   
    border-radius: 20px;
}
footer .small{
    width: 20%;
    padding: 0 5%;
}
footer ul{
    text-align: justify;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
footer ul li{
    display: list-item;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
   
}
footer > img{
    width: 50px;
    margin: 5px;
}
footer > p {
    color:white
}
footer > p > a{
    color:white;
    text-decoration: none;

}
.cursiva{
    font-style: italic;
}
