section {
    margin: 0 auto;
    display: inline-block;
    border-radius: 10px;
    text-align: center;
    border: 5px pink solid;
    background-color: seashell;
    padding: 20px 25px;
}
.textoJustificado{
    text-align: justify;
}
.alineadoCentro{
    display: flex;
    align-items: center;
}

section .contenidoFlexible{
    display: flex;
} 

section .imagenProducto{
    width: 300px;
}
section article h3{
    margin: 15px 0px 40px;
}
section article p{
    margin-bottom: 50px;
}
section article a{
    background-color: teal;
    color: white;
    text-decoration: none;
    border: 2px solid teal;
    border-radius: 20px;
    line-height: 30px;
    height: 30px;
    display: inline-block;
}

